.first-line{
	width: 100%;
	height: 15%;
	background-color: purple;
	float: left;
}
.first-line-h1{
	color: white;
	size: 35px;
	font-style: oblique;
}
.first-line-right{
	color: white;
	float: right;
	height: 50%;
}
.first-line-button{
	background-color: purple;
	font-style: oblique;
	float: right;
	color: white;
	/*display: inline-block;*/
	padding: 25px 32px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	border: node;
	position: relative;
}
.first-line-button:hover{
	border-radius: 25px;
	background-color: #E39FF6;
}
.p-picture{
	size:25px;
	color: white;
}
.picture{
	float: left;
	background-color: #E39FF6;
	width: 60%;
	height: 85%;
}
.total-pic{
	width:100%;
}
.log-in-v{
	background-color: purple;
	font-style: oblique;
	padding: 5px 32px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	border: node;
}
.log-in-v:hover{
	border-radius: 25px;
	background-color: #E39FF6;
}
.logo{
	
	float: right;
	width:40%;
	height:85%;
	background-color:#DA70D6;
}
/*.log{
	0float: right;
	width:40%;
	height:85%;
	position:fixed;
	z-index:2;
}*/
input{
	width:90%;
	height:100%;
	border: 2px solid purple;
	border-radius: 7px;
}
.Submit{
	font-style: oblique;
	padding: 5px 32px;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
}
.Submit:hover{
	border-radius: 25px;
	background-color: #E39FF6;
}