button{
	background-color:#E39FF6;
	border-radius:25px;
}
button:hover{
	background-color:purple;
}
.logo{
	positiion:fixed;
	float:left;
	width:40%;
	height:100%;
	border:none;
	background-color:#E39FF6;
}
.options{
	position: sticky;
	height:10%;
	top:0;
	z-index:10;
	width:100%;
	background-color:#E39FF6;
}
.settings{
	position: fixed;
	top:10%;
	left:90%;
	width:100%;
	height: 11%;
	visibility:hidden;
	background-color: #E39FF6;
	z-index:10;
}
.settings-b{
	background-color: #E39FF6;
	width: 200%;
	border:none;
}
.settings-b:hover{
	background-color:purple;
}
.cmnts{
	position:relative;
	width:80%;
	top:15%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left:10%;
}
button{
	background-color:#E39FF6;
	border-radius:25px;
}
button:hover{
	background-color:purple;
}
.slide-menu{
	positiion:absolute;
	float:right;
	width:10%;
	height:100%;	
	border:none;
	background-color:#E39FF6;	
}
.slide-menu:hover{
	background-color:purple;
}